[fetch]
prune = true
[diff]
noprefix = false
[difftool]
prompt = true
[merge]
renamelimit = 5000
[mergetool]
prompt = true
[alias]
agc = gc --aggressive
branch-details = branch -vv
clean-all = clean -fdx
clean-branches = remote prune origin
fast-forward = merge --ff-only @{upstream}
fetch-all = fetch --all --jobs=8 --recurse-submodules --progress
force-pull = reset --hard @{upstream}
stash-all = stash push -u
status-all = status --ignored
sync-submodules = submodule update --init --recursive
tag-details = show-ref --tags -d
[core]
editor = nano
symlinks = true
longpaths = true
longpath = true
attributesfile = ~/.gitattributes
pager = less
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[pack]
useSparse = true
[pull]
rebase = false
[init]
defaultBranch = main
[push]
autosetupremote = true
